<div class="card">
  <div class="card-header">
    <h3>{{pageTitle}}</h3>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-1"><h4>Search By:</h4></div>
      <div class="col-md-5">
        <input type="text" [formControl]="searchControl"/>
      </div>

      <div class="col-md-6">
        <a type="submit" class="btn btn-outline-primary mb-3" role="button" routerLink="/user">Add User</a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <h6>Filtered by: </h6>
      </div>
    </div> -->

    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead class="table-primary">
          <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>


        <ng-template #noDataTemplate>
          <ng-container *ngIf="isLoading; else emptyDataTemplate">
            <div>Loading...</div>
          </ng-container>
        </ng-template>

      <ng-template #emptyDataTemplate>
        <div>No data found</div>
      </ng-template>

        <tbody *ngIf="filteredUsers && filteredUsers.length > 0; else noDataTemplate">
          <tr *ngFor="let user of paginatedUsers; let i = index">
            <th>{{ (currentPage - 1) * pageSize + i + 1 }}</th>
            <td>{{user.name}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/user', user.id]">
                Edit
              </button>
              <button class="btn btn-outline-danger btn-sm ms-3"
              (click)="delete(user.id)"
                      >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination Controls -->
        <div class="mt-2 paginate" *ngIf="totalPages > 1" align="center">
          <!-- <button (click)="onPageChange(1)" [disabled]="currentPage === 1">First</button> -->
          <button class="btn btn-outline-secondary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
          Page {{ currentPage }} of {{ totalPages }}
          <button class="btn btn-outline-primary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
          <!-- <button (click)="onPageChange(totalPages)" [disabled]="currentPage === totalPages">Last</button> -->
        </div>
    </div>

  </div>
</div>
